/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

main {
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.left-panel,
.right-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 600px;
    margin: 0 auto;
    background-color: #1a1a1a;
    padding: 1rem;
    border-radius: 10px;
}

.form-join,
.form-msg {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

input,
select {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #444;
    outline: none;
    background-color: #222;
    color: #fff;
}

button {
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: blue;
    color: #fff;
    font-weight: bold;
}

.lists {
    margin-top: 1rem;
}

.chat-display {
    flex-grow: 1;
    overflow-y: auto;
    border: 2px solid #dedede;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.post {
    background-color: #fff;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.post--left {
    align-self: flex-start;
}

.post--right {
    align-self: flex-end;
}

.post__header {
    color: #fff;
    padding: 0.25rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
}

.post__header--user {
    background-color: #007bff;
}

.post__header--reply {
    background-color: #6f6f6f;
}

.post__header--name {
    font-weight: bold;
}

.post__header--time {
    font-size: 0.8rem;
}

.post__text {
    margin-top: 5px;
    color: #121111;
    padding: 0.25rem 0.5rem;
}

.user-list {
    list-style: none;
    padding: 0.5rem;
    background-color: #333;
    border-radius: 10px;
    margin-top: 0.5rem;
}

.user-list li {
    padding: 0.25rem 0.5rem;
    background-color: #444;
    border-radius: 5px;
    margin-bottom: 0.25rem;
}

.form-msg {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
}

.form-msg input {
    flex: 1;
    min-width: 0;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.form-msg button {
    flex: 0 0 auto;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    background-color: blue;
    color: #fff;
    margin-left: 0.5rem;
}

.activity {
    flex: 0 0 auto;
    font-style: italic;
    color: #bbb;
    white-space: nowrap;
    margin-left: 0.5rem;
}
